*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.logo{
    width: 100px;
    height: 100px;
}
.list-items{
    display: inline;
    margin: 20px;

}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    text-decoration: underline;
    color: blue;
}
.home{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    background-image: url('https://cdn.vectorstock.com/i/1000v/60/59/blurred-bokeh-light-on-dark-blue-background-vector-23526059.jpg');
    background-size: cover;
}
.home-content{
    margin: 100px;
    color: white;
}
h2{
    font-size: 60px;
    font-weight: 700px;
    font-family: "Playwrite NZ Basic", cursive;
}
.description{
    font-size: 30px;
}
#button{
    color: blue;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    margin: 20px 150px;
}
#profile{
    width: 350px;
    height: 550px;
}
h3{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 200px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para{
    padding: 10px;
    color: rgb(3, 50, 106);
    font-size: 15px;
    font-weight: 700;
    font-family: "Playwrite NZ Basic", cursive;
}
html{
    scroll-behavior: smooth;
}
.about{
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-with-bokeh-effect-blurred-defocused-lights-blue-colors-bokeh-background-blurred-natural-blue-white-bokeh-colorful-glows-sparkle-beautiful-new-year-day_620624-4581.jpg');
    width: 70vh;
    height: 50vh;
    border-radius: 10px;
    margin: 60px 0px 60px 650px;
}
.img{
    position: absolute;
    right: 150%;
    width: 80vh;
    height: 50vh;
}
.skills{
    margin-left: 1060px;
}
.list{
    margin-top: 40px;
}
#list-items{
    list-style: square;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    line-height: 2.5;
}
.dots{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: -40px;
    padding: 10px;
}
.dot{
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-radius: 50%;
}
.filled{
    background-color: white;
}
.projects{
margin-left: 60px;
}
.project{
    padding: 40px;
}
.image-container {
  position: relative;
}
.Project-link{
    font-size: 20px;
    font-weight: 600px;
    color: white;
    text-decoration: none;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 800px;
  background: rgba(0,0,0,0.1);
  color: blue;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.6s;
}

.image-container:hover .overlay {
  opacity: 1;
}
.proj{
    font-size: 30px;
    color: blue;
    text-decoration: none;
    margin-top: 0px;
    padding: 0px;
}

#cnt{ 
    color: blue;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brands{
    color: black;
    font-size: 1.7rem;
    text-decoration: none;
}
.icon:hover{
    background-image: linear-gradient(to bottom right, rgb(167, 167, 228), rgb(98, 98, 232), rgb(17, 17, 65));
}
.icon:hover .brands{
    color: white;
    animation: rotate 8s;
}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
    20%{
        transform: rotate(-360deg);
    }
    40%{
        transform: rotate(360deg);
    }
    60%{
        transform: rotate(-360deg);
    }
    80%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
#copyright{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-bottom: 20px;
}